html {
    background: url(images/body.gif);
}

#errors{
    color: #EE4400;
    font-weight: bold;
}
.error{
    color: #EE4400;
    font-weight: bold;
}
body {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/body_bckg.gif) repeat-x;
        
}

a {
    color: #EE4400;
    text-decoration: none;
}

a:hover {
    color: #CC0000;
}

input.btn {
    font-weight: bold;
    color: #CC0000;
    background-color: #FFFFFF;
    border-style: double;
    border-color: #CC0000;
}

input.btn:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #CC0000;
    border-style: double;
    border-color: #CC0000;
}

#container {
    
    width: 1000px;
    margin: 0 auto;
}

#header{
    background: url(images/main_bckg2.jpg) center no-repeat;
}

#logo {
    font-size: 24px;
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    padding: 40px 100px 70px 210px;
}

#logo a {
    color: #FFFFFF;
    text-decoration: none;
}

#menu {
    height: 40px;
    text-align: center;
}

#menu a {
    color: #B02802;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
}

#menu a:hover {
    color: #000000;
}

#main {
    width: 780px;
    margin: 0 110px;
    float: left;
    background-color: #FFFFFF;
    min-height: 350px;
    display: inline;
      
}

#text {
    
    margin: 20px 270px 0 40px;
    font-family: Arial, "Tahoma", Helvetica, sans-serif;
    font-size: 14px;
}

#text.r ul {
    padding: 0;
    margin: 10px 0 10px 40px;
}

#text.r li {
    list-style: none;
    padding-left: 15px;
    background: url(images/li.gif) no-repeat 0px 6px;
}

h1 {
    margin: 20px 0 0 0;
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    font-size: 22px;
    font-weight: normal;
}

h2 {
    margin: 20px 0 0 0;
    font-family: "Impact", "Tahoma", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#text p {
    margin: 10px 0;
}

#sidebar {
    padding: 0px 0px 0px 500px;
    width: 240px;
    height: 0px
}

#sidebar h2 {
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: normal;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 3px 2px;
}

#sidebar li:hover {
    background-color: #f3f3f3;
}

#sidebar a {
    text-decoration: none;
}

#studios h2 {
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: normal;
}

#studios ul {
    margin: 0;
    padding: 3px;
}

#studios li {
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 3px 2px;
}

#studios li:hover {
    background-color: #f3f3f3;
}

#studios a {
    list-style: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 2px 2px;
}

#studios a:hover {
    background-color: #f3f3f3;
}

#footer {
    padding: 0 110px;
    height: 169px;
    clear: both;
    background: url(images/footer_bckg.jpg) center no-repeat;
}

#menu_footer {
    color: #7A2200;
    font-size: 11px;
    padding: 40px 0 0 30px;
}

#menu_footer a {
    color: #7A2200;
    text-transform: lowercase;
}

#left_footer {
    float: left;
    padding: 60px 0 0 100px;
    color: #FFFFFF;
    font-size: 12px;
}

#left_footer a {
    color: #FFFFFF;
}

#c_footer {
    text-align: center;
    padding: 120px 0 0 0;
    color: #FFFFFF;
    font-size: 12px;
}

#c_footer a {
    color: #FFFFFF;
}

#right_footer {
    float: right;
    padding: 60px 100px 0 0;
    color: #FFFFFF;
    font-size: 12px;
}

#right_footer a {
    color: #FFFFFF;
}

/*DIV.t-data-grid {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}

DIV.t-data-grid-pager {
	margin: 8px 0px;
}

DIV.t-data-grid-pager A,DIV.t-data-grid-pager SPAN.current {
	text-decoration: none;
	color: black;
	padding: 2px 5px;
	font-size: 14px;
	border: 1px solid silver;
	margin-right: 5px;
}

TABLE.t-data-grid THEAD TR TH {
	text-align: center;
	padding: 1px 3px;
	white-space: nowrap;
	border-left: 1px solid #CC0000;
	border-top: 1px solid #CC0000;
	border-right: 1px solid #CC0000;
	border-bottom: 1px solid #CC0000;
	background-color: #EE4400;
	width: 150px;
}

TABLE.t-data-grid TBODY TR {
	background-color: #ffffff;
}

TABLE.t-data-grid TBODY TR.odd {
	background-color: #dddddd;
}

TABLE.t-data-grid TBODY TR TH A {
	color: white;
}

TABLE.t-data-grid TBODY TR TD {
	border-left: 1px solid #EE4400;
	border-top: 1px solid #EE4400;
	border-right: 1px solid #EE4400;
	border-bottom: 1px solid #EE4400;
	padding: 1px 3px;
}*/

table {
    border-collapse: collapse;
}

thead th {
    text-align: center;
    background: #EE4400;
    color: #fff;
    padding: 4px 4px 4px 4px;
    border-right: 1px solid #CC0000;
    border-bottom: 1px solid #CC0000;
    border-top: 1px solid #CC0000;
    border-left: 1px solid #CC0000;
}

thead th.null {
    background: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

tbody th {
    text-align: center;
    background: #EE4400;
    color: #fff;
    padding: 4px;
    border-bottom: 1px solid #CC0000;
    border-right: 1px solid #CC0000;
    border-top: 1px solid #CC0000;
    border-left: 1px solid #CC0000;
}

tbody td {
    color: #333;
    text-align: center;
    padding: 4px;
    border-right: 1px solid #EE4400;
    border-bottom: 1px solid #EE4400;
    border-top: 1px solid #EE4400;
    border-left: 1px solid #EE4400;
}